.wrapper{
	width:600px;
	background:#eee;
	margin:0 auto;
}
.heading{
	height:100px;
	background:Green;
	padding:20px;
	text-align:center;
}
.content{
	min-height:400px;
	
	width:400px;
	float:left;
}
.sidebar{
	width:200px;
	float:right;
	min-height:400px;
    background: lightblue
}
